annotated-types==0.6.0
anyio==4.2.0
click==8.1.7
exceptiongroup==1.2.0
fastapi==0.109.0
h11==0.14.0
idna==3.6
linuxpy==0.21.0
numpy==2.0.2
opencv-python==4.12.0.88
picamera==1.13
pillow==11.3.0
pydantic==2.5.3
pydantic-core==2.14.6
python-multipart==0.0.6
sniffio==1.3.0
starlette==0.35.1
typing-extensions==4.9.0
uvicorn==0.27.0
v4l2py==3.0.0
websockets==12.0
